venv/
.venv/
env/
bin/
include/
lib/
lib64/
share/

__pycache__/
*.pyc

pyvenv.cfg

# editor settings
.vscode/
.idea/
.DS_Store
lib64

./.tmpdir
/training_data/formula_images_processed
checkpoint_*
optimizer_*
scaler_*
/training_*
