# Created by venv; see https://docs.python.org/3/library/venv.html

venv/
.venv/
env/
bin/
include/
lib/
lib64/
share/

__pycache__/
*.pyc

pyvenv.cfg

# editor settings
.vscode/
.idea/
.DS_Store
lib64

./.tmpdir

# egitim verileri
./training_data/formula_images_processed
*.png
*.json
checkpoint_*
optimizer_*
scaler_*
/training_old
islem_log.txt
*.csv

# mathwriting
./training_data/mathwriting-2024
*.inkml

# egitim sonucu
./egitim_sonuclari

# geciciler
ign_*