.tmpdir
venv/
.venv/
env/
bin/
include/
lib/
lib64/
share/
__pycache__/
*.pyc
pyvenv.cfg

# editor ayarlari
.vscode/
.idea/
.DS_Store
lib64


# egitim verileri
training_data
egitim_sonuclari
*.png
*.json
islem_log.txt
!ocr_src/mathwriting_model
!ocr_src/mathwriting_model/itos.json
!ocr_src/mathwriting_model/stoi.json


# geciciler
ign_*